@charset "UTF-8";

@import 'scss/fonts';
@import 'scss/variables';

/* Main CSS Code */
html {
  font-family: $sans-serif-fonts ;
	line-height: 1.90em;
  font-size: calc(#{$base-font-size} * 1.1);
  color: #444444;
  letter-spacing: -0.75px;

  text-rendering: optimizeLegibility;

  /* Open Digits */
  font-feature-settings: 'ss01' 1;
  /* Disambiguation */
  font-feature-settings: 'ss02' 1;
  /* Auto Fractions */
  font-feature-settings: 'frac' 1;
  /* Slashed Zero Digit */
  font-feature-settings: 'zero' 1;
  /* Upper-case i with Serif */
  font-feature-settings: 'cv08' 1;
  /* Flat top Three Digit */
  font-feature-settings: 'cv09' 1;
  /* Open Digits */
  font-feature-settings: 'cv11' 1;
  /* Stylistic Alternatives */
  font-feature-settings: 'salt' 1;
}
body {}
main {
	max-width: 1280px;
	margin: auto;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}
header {
	text-align: center;
  padding: 10px;
  margin-bottom: 25px;
}
header h1 {
	font-weight: weight(light);
	font-size: 2.25em;
  letter-spacing: -3px;
  padding: 30px 0 0 0;
  border: none;
}
nav {
  font-weight: weight(bold);
  width: 100%;
  align-items: center;
  text-align: center;
  height: 2.25vh;
}
nav a {
  justify-content: space-around;
  display: inline-flex;
  padding: 10px;
  text-align: center;
  border: none;
}


a {
  text-decoration: none;
  color: #444444;
  font-weight: weight(regular);
  display: inline-block;
  border-bottom: 2px solid $accent-color;
  padding-bottom: 0;
  line-height: 1em;
}
a:hover {
  border-bottom: 3px solid $accent-color;
  font-weight: weight(semi-bold);
}

h1 {
  font-size: calc(#{$base-font-size} * 2.5);
  font-weight: weight(bold);
  letter-spacing: -2px;
  padding: 20px 0px 10px 20px;
  margin: 10px 0 20px 0;
  border-left: 7px solid $accent-color;
}
h2 {
  font-size: calc(#{$base-font-size} * 1.5);
  font-weight: weight(medium);
  letter-spacing: -2.75px;
  padding: 0;
  margin: 15px 0 15px 0;
}
.uppercase {
  text-transform: uppercase;
}

main {
  max-width: 1280px;
  display: flex;
}

section.nz {
  display: flex;
  flex: 1;
  flex-direction: column;

}
section.world {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: right;
}

footer {
  max-width: 1280px;
  margin: auto;
  flex: none;
	border-top: 1px gray solid;
	padding: 5px;
	font-size: small;
}

time {
  opacity: 0.6;
}

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)" url("pdficon.png"); }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")" url("pdficon.png"); }

address {
	border-left: 8px solid $accent-color;
	padding:0.5em 12.5px 0.5em 25px;
	width:85%;
	margin: 20px
}

@import 'scss/extras';
@import 'scss/low-res';
